<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <a href="http://www.railstutorial.org/"><em>루비온레일즈 튜토리얼</em></a>은 
  <a href="http://www.railstutorial.org/book">책</a> 그리고
  <a href="http://screencasts.railstutorial.org/">스크린캐스트 시리즈로 구성되어 있고</a>,
  <a href="http://rubyonrails.org/">루비온레일즈로</a>웹 개발을 가르치기위하여 만들었습니다.
  이 샘플 앱은 튜토리얼을 위한 것입니다.
</p>