<h1>Sample App</h1>

<p>안녕하세요. <%= @user.name %> 님,</p>

<p>
Sample App에 오신걸 환영합니다. 다음 링크를 클릭하시면, 계정이 활성화됩니다.
</p>

: <%= link_to "활성화하기", edit_account_activation_url(@user.activation_token, email: @user.email) %>