<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "계정 삭제", user, method: :delete, data: { confirm: "정말로 삭제하시겠습니까?" } %>
  <% end %>
</li>