<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      현재 <%= pluralize(object.errors.count, "error") %>개의 에러가 발생했습니다.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>